/* アンサー */
.answer {
  height: 1300px;
}
.answer img {
  height: 264px;
  width: 264px;
  border: 3px solid #ebb94d;
}
.answer .message-wrapper {
  /* display: block; */
  margin-left: 230px;
  margin-top: 40px;
}
.answer .message-wrapper p {
  width: 500px;
  margin-left: 300px;
  padding-top: 20px;
  color: #777;

}
.answer .message-wrapper img{
  float: left;
}
.answer .message2 {
  margin-top: 200px;
}
.answer .message3 {
  margin-top: 220px;
}
.answer-title {
  text-align: center;
  padding-top: 30px;
  color: #333;
}
.answer-text {
  text-align: center;
  color: #333;
}
/* iSara[イサラ]で学べる内容 */
.class {
  height: 750px;
  background-color: skyblue;
  padding-top: 1px;
}
.travel-list {
margin-left: 230px;
}
.travels {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border: 2px solid #016ea9;
  border-radius: 3px;
}
.travel-title {
  background-color: #016ea9;
  color: white;
}
.travel-title h2 {
  margin-top: 0;
}
.before-travel {
  margin-right: 30px;
}
.travels li {
  background-color: white;
  border-bottom: 1px dotted #e5e5e5;
  padding: 15px;
  letter-spacing: 2px;
  font-weight: bold;
}
.class ul {
  padding-left: 0px;
  margin-top: 0;
  margin-bottom: 0;
}
.class h3 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.after-travel {
  width: 370px;
}
/* 受講の流れ */
.flow {
  height: 1600px;
  color: #333;
}
.flow-images {
  background-color: #fef5e0;
  height: 230px;
  width: 1150px;
  display: inline-block;
  border-radius: 10px;
  margin-left: 53px;
  margin-bottom: 0px;
}
.flow-text {
  padding-left: 220px;
  padding-top: 20px;
}
.flow-text p {
  width: 900px;
  font-size: 14px;
  letter-spacing: 2px;
}
.flow .image-set {
  float: left;
  padding-left: 60px;
  padding-top: 35px;
}
.flow .image-set p {
  text-align: center;
  font-weight: bold;
}
.line1 {
  height: 30px;
  width: 800px;
  position: relative;
  left: 230px;
  border-left: 2px solid #ebb94d;
  border-bottom: 2px solid #ebb94d;
}
.line2 {
  height: 30px;
  width: 800px;
  position: relative;
  left: 230px;
  border-right: 2px solid #ebb94d;
}
.line3 {
  height: 30px;
  width: 800px;
  position: relative;
  left: 230px;
  border-right: 2px solid #ebb94d;
  border-bottom: 2px solid #ebb94d;
}
.line4 {
  height: 30px;
  width: 800px;
  position: relative;
  left: 230px;
  border-left: 2px solid #ebb94d;
}
